KEY_NAME=
AWS_REGION=
AWS_IMAGE_ID=
AWS_INSTANCE_TYPE=

AWS_EC2_NAME=
SG_EC2_NAME=
SG_DB_NAME=
 
DB_IDENTIFIER=
DB_INSTANCE_CLASS=
DB_ENGINE=
DB_MASTER_USER_NAME=
DB_MASTER_PASSWORD=
DB_NAME=
DB_APP_USER=
DB_APP_PASSWORD=

APP_ADMIN_USER=
APP_ADMIN_PASSWORD= 
APP_REPO_URL=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
